<footer class="page-footer footer-fluid bg-white text-center text-muted">
    <p class="pt-4 mb-1">County data sourced through <a class="text-muted" href="#">[NAME OF SOURCE/API].</a></p>
    <p class="mb-1">COVID-19 case data sourced through <a class="text-muted" href="#">[NAME OF SOURCE/API].</a></p>
    <div class="footer-copyright text-center mb-2">© 2020 Copyright:
        <a class="text-muted" href="https://covisclear.herokuapp.com"> CoVisClear</a>
    </div>
</footer>