<footer class="page-footer footer-fluid bg-white text-center text-muted">
    <p class="pt-4 mb-1">County data sourced through <a class="text-muted" href="https://developer.mapquest.com/documentation/geocoding-api/">MapQuest Geocoding API.</a></p>
    <p class="mb-1">COVID-19 case data sourced through <a class="text-muted" href="https://www.trackcorona.live/api">TrackCorona.</a></p>
    <p class="mb-1">Interactive Map enabled through <a class="text-muted" href="https://leafletjs.com/">Leaflet.</a></p>
    <div class="footer-copyright text-center mb-2">© 2020 Copyright:
        <a class="text-muted" href="https://covisclear.herokuapp.com"> CoVisClear</a>
    </div>
</footer>