<div class="row pt-2 pb-5">
    <div class="col-12 text-center">
            <button type="button" class="btn btn-secondary btn-lg"><a class="text-light" id="home-button" href="/">Return to Home Page</a></button>
    </div>
</div>