<nav class="navbar navbar-expand-md border border-dark rounded py-4" id="navigation-bar">
    {{!-- App Name --}}
    <a class="navbar-brand font-weight-bold text-dark" href="#">CoVisClear</a>
    {{!-- Toggle Menu Button --}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    {{!-- Menu Items --}}
    <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>