<div class="row justify-content-center py-5">
    <div class="col-12 text-center">
      <h3>
        <p>404 - Not Found</p>
        <small class="text-muted">Sorry, we can't find the page you were looking for.</small>
      </h3>
    </div>
</div>