<div class="row justify-content-center py-5">
    <div class="col-12 text-center">
      <h3>
        <p>500 - Server Error</p>
        <small class="text-muted">Sorry, the server was unable to complete your request.</small>
      </h3>
    </div>
</div>