<div class="row justify-content-center pt-5 pb-3">
    <div class="col-12 text-center">
      <h3>
        <p>About This Project</p>
        <small class="text-muted">Currently, the understanding COVID-19 infection counts are limited to the state or county level as cities report their COVID-19 infections to the county government, and thus are reported as such. Our team noticed that while traveling to new locations it was difficult to find the current state COVID-19 because one may not know the county that their destination city is in. CoVisClear aims to make traveling in these unprecedented times easier by showing you the most up to date COVID-19 infection data at your city/state destination in an easy-to-understand format, making your travel plans easier.</small>
      </h3>
    </div>
</div>

<div class="row justify-content-center pt-3 pb-5">
    <div class="col-12 text-center">
        <h3>Contributors</h3>
        <ul class="list-unstyled">
          <li>Timothy Yoon</li>
          <li>Rohit Chaudhary</li>
          <li>Anjanette Oborn</li>
          <li>Patricia Booth</li>
        </ul>
    </div>
</div>

{{> homebtn}}