<div class="row justify-content-center pt-5 pb-3">
    <div class="col-12 text-center">
      <h3>
        <p>About This Project</p>
        <small class="text-muted">Information about this project will go here.</small>
      </h3>
    </div>
</div>

<div class="row justify-content-center pt-3 pb-5">
    <div class="col-12 text-center">
        <h3>Contributors</h3>
        <ul class="list-unstyled">
          <li>Timothy Yoon</li>
          <li>Rohit Chaudhary</li>
          <li>Anjanette Oborn</li>
          <li>Patricia Booth</li>
        </ul>
    </div>
</div>

{{> homebtn}}