<div class="row justify-content-center pt-5 pb-3">
    <div class="col-8 text-center">
      <div class="card">
        <div class="card-body">
          <h3>
          <p class="card-title">About This Project</p>
          <small class="text-muted card-text">Currently, our understanding of COVID-19 infection counts is limited to the
           state or county level as cities report their COVID-19 infections to the county government, and
           thus are reported as such. Our team noticed that for those traveling to new locations, it may be
           difficult to find the destination's current state of COVID-19 because one may not know the county
           that their destination city is in. CoVisClear aims to make traveling in these unprecedented times
           easier by showing you the most up to date COVID-19 infection data at your city/state destination
           in an easy-to-understand format, making your travel plans easier.</small>
          </h3>
        </div>
      </div>
    </div>
</div>

<div class="row justify-content-center pt-3 pb-5">
    <div class="col-8 text-center">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Contributors</h3>
          <p class="card-text">
            <ul class="list-unstyled">
              <li>Timothy Yoon</li>
              <li>Rohit Chaudhary</li>
              <li>Anjanette Oborn</li>
              <li>Patricia Booth</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
</div>

{{> homebtn}}